# Environment
NODE_ENV=development
PORT=3001

# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=wacms
DB_USER=postgres
DB_PASSWORD=200002

# JWT
JWT_SECRET=guesshihadhkjsakjkdjkjsksj#knjnsdj
JWT_EXPIRES_IN=24h

# App
CASE_ID_PREFIX=CASE
